@import "tailwindcss";

@theme {
	--color-blue-50: #effbfc;
	--color-blue-100: #d6f5f7;
	--color-blue-200: #b2ebef;
	--color-blue-300: #7ddae3;
	--color-blue-400: #40c1d0;
	--color-blue-500: #28b2c5;
	--color-blue-600: #218499;
	--color-blue-700: #216b7d;
	--color-blue-800: #235967;
	--color-blue-900: #224a57;
	--color-blue-950: #11303b;
	--color-red-50: #fcf5f4;
	--color-red-100: #f9e9e7;
	--color-red-200: #f5d7d3;
	--color-red-300: #ecbbb5;
	--color-red-400: #e09389;
	--color-red-500: #d06f63;
	--color-red-600: #bb5346;
	--color-red-700: #9d4338;
	--color-red-800: #823b32;
	--color-red-900: #6d362f;
	--color-red-950: #3a1915;
	--color-green-50: #fcfee7;
	--color-green-100: #f6fdca;
	--color-green-200: #ecfa9c;
	--color-green-300: #ddf462;
	--color-green-400: #cfeb4a;
	--color-green-500: #abce14;
	--color-green-600: #85a50b;
	--color-green-700: #647d0e;
	--color-green-800: #506311;
	--color-green-900: #435413;
	--color-green-950: #232f04;
}